<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-fluid">
        <div class="jumbotron jumbotron-fluid"><h1 style="text-align: center;">Welcome to First ASP .NET MVC Program</h1></div> 
        <div class="col-md-6">
      <label for="fn" class="label00 mt-2">Name:-</label>  
        <input type="text" name="text" id="fn" class="form-control"placeholder="enter the name" required>
        </div>

        <div class="col-md-6">
         <label for="name" class="label01 mt-2">Last Name:-</label>
        <input type="text" name="Name" id="name" class="form-control mt-2"placeholder="enter the Lastname "required>
        </div>

        <div class="col-md-6">
         <label for="date" class="label02 mt-2">D.O.B:-</label>
        <input type="date" name="Name" id="date" class="form-control mt-2"placeholder="enter the Lastname "required>
        </div>

        <div class="col-md-6">
        <input type="button" value="Submit" class="btn btn-primary mt-5">
        </div>


        </div>
        </div>   
     </div>
    </div>
</body>
</html>    